<div class="panel panel-default info">
  <div class="panel-heading">
      <span class="title"><i class="far fa-id-card"></i><%=spid_translation.application.spid_credentials%></span>
  </div>
  <div class="panel-body">
      <div class="spid_id">
          <h5><%=spid_translation.application.metadata%></h5>
          <p><%=spid_metadata%></p>
      </div>
  </div>
</div>