<div class="panel panel-default info">
  <div class="panel-heading">
      <span class="title"><i class="far fa-id-card"></i><%=spid_translation.application.spid_credentials%></span>
      <!-- <div class="table_actions clearfix">
          <div class="btn-group">
              <a href="#" class="small">
                  <button title="Add" class="btn btn-default btn-sm">
                      <i class="fa fa-edit"></i>
                      <span class="action">
                        <%=translation.applications.show.edit_btn%>
                      </span>
                  </button>
              </a>
          </div>
      </div> -->
  </div>
  <div class="panel-body">
      <div class="spid_id">
          <h5><%=spid_translation.application.metadata%></h5>
          <p><%=spid_metadata%></p>
      </div>
  </div>
</div>