<div class="panel panel-default info">
  <div class="panel-heading">
      <span class="title"><i class="far fa-id-card"></i>SPID credentials</span>
      <div class="table_actions clearfix">
          <div class="btn-group">
              <a href="#" class="small">
                  <button title="Add" class="btn btn-default btn-sm">
                      <i class="fa fa-edit"></i>
                      <span class="action">
                          Show/Edit
                      </span>
                  </button>
              </a>
          </div>
      </div>
  </div>
  <div class="panel-body">
      <div class="spid_id">
          <h5>Metadata</h5>
          <p><%= id %></p>
      </div>
  </div>
</div>